[mysqld]
# 設定字符集為 UTF-8
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
init-connect='SET NAMES utf8mb4'

# 設定時區
default-time-zone='+08:00'

# 設定二進制日誌格式
binlog_format=ROW

# 設定 SQL 模式
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO

[mysql]
# 設定客戶端預設字符集
default-character-set=utf8mb4

[client]
# 設定客戶端字符集
default-character-set=utf8mb4
